
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{

  font-family: 'Poppins', sans-serif;

  background-color: #f5eeee
}
.btn-basic, .btn-danger{
  font-family: 'Righteous', cursive;

  font-size: 20px !important;
}
ul {
  list-style-type: none;
}
.modal{
  background-color: rgba(26, 25, 24, 0.8) !important;
}
.btn-basic{

  background-color: #f69f98!important;
  color:black !important;
}

.btn-dark{
  background-color: rgba(0, 0, 0, 0.6);
}

.navbars{

  background-color:hsl(4, 84%, 78%);
 
}
.nav-item{

  padding:0 35px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  

}.nav-item a {
  color:black !important;
}

/* footer */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 10.0rem;    /* Footer height */
}

/* myprofile page */

.cover-photo{
  

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 22em;
}
.profile-pic{
  height: 12em;
  border-radius: 50%;
  
  margin-top: -90px;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.uploadPic{
  cursor: pointer;
  margin-top:-50px;
  margin-left:60px;
 
}
@media screen and (max-width: 768px) {
  .uploadPic {
    
  }
  .username{
    color: black;
    margin-top: 30px;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
/* homepage */

.users{
  

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}
.anyClass {
  height:60vh;
  overflow-y: scroll;
}
.item {
  position:relative;
  padding-top:20px;
  display:inline-block;
}
.notify-badge{
  position: relative;
  background: rgba(0,0,255,1);
  height:2rem;
  top:1rem;
  left:1.5rem;
  width:4rem;
  text-align: center;
  line-height: 2rem;;
  font-size: 1rem;
  border-radius: 50%;
  color:white;
  border:1px solid blue;
}
.modal-dialog{
  
  margin-top:250px !important;
  
}
@media only screen and (max-width: 992px) {
  .modal-book {
    margin-top: 100px !important;
  }
}
.modal-body{
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

#load{
  width:100%;
  height:100%;
  margin-top: -170px;
  position:fixed;
  z-index:9999;
  background:url("https://loading.io/spinners/heart/lg.beating-heart-preloader.gif") no-repeat center center rgb(228, 192, 192)
}