
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{

  font-family: 'Poppins', sans-serif;
  background-color: #f5eeee
}

.landing{
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.wallpaperscraft.com/image/couple_silhouettes_love_night_94158_1920x1080.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55em;

}
ul {
  list-style-type: none;
}
.btn-basic{

  background-color: #F69F98!important;
  color: black !important;
}

/* landing */
.card-landing{
  
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 80px;
  height: 100%;
  border-radius:10px;
}
.logo-landing{

  margin-top: -20px;
  margin-bottom: -20px;
  height: 220px;
  width: 100%;
  
}
/* service */

.service-icon{

  color: rgba(204, 98, 91, 1) !important;
    font-size: 60px;
 
}

@media screen and (min-width: 768px) {
  .con-service {
    padding-left:150px;
    padding-right:150px;
  }
}
/* register */

.party{
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.pexels.com/photos/1024960/pexels-photo-1024960.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin-top:-20px;
}

/* loading */


#load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
  background:url("https://loading.io/spinners/heart/lg.beating-heart-preloader.gif") no-repeat center center rgb(228, 192, 192)
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.wew{
  display:none;
}
